$body-font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url("/assets/fonts/inter.woff2") format("woff2");
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("/assets/fonts/dancing-script.woff2") format("woff2");
}
